#basketHeader {
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

#basketTable {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
    border: 2px solid #006699;
}

#basketTotal {
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

#basketButtonBuy {
    text-align: center;
}

#basketSearchNoResult {
    text-align: center;
    font-size: larger;
    font-style: italic;
}