body {
    font-family: "calibri";
}

.horizontalCenter {
    text-align: center;
}

.table {
    display: table;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

.input-validation-error {
    border: 1px solid #dc143c;
    margin: 2px;
}

.validationMessage {
    background-color: #dc143c;
    color: white;
    font-weight: bold;
    margin-top: 4px;
}

#mainLayoutTop {
    background-color: #4682b4;

    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

#mainLayoutRenderBody {
    position: fixed;
    top: 30px;
    left: 0;
    height: 90%;
    width: 100%;
}

#mainLayoutBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
}

.mainLayoutTopTable {
    width: 100%;
}

.mainLayoutTopTableTd {
    width: 1px;
    white-space: nowrap;
}

.mainLayoutTopTableTdLeft {
    text-align: left;
    padding-right: 5px;
}

.mainLayoutTopTableTdRight {
    text-align: right;
}

.dividerLeft {
    border-left: 1px solid white;
    padding-left: 5px;
}

.mainLayoutImageButton, .mainLayoutLangImageButton, .mainLayoutMoneyImageButton{
    color: transparent;
    background-repeat: no-repeat;
    background-position: top left;
    -ms-background-size: cover;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

.mainLayoutLangImageButton {
    width: 30px;
    height: 20px;
}

.mainLayoutMoneyImageButton {
    width: 20px;
    height: 20px;
}

.selectedLang, .selectedCurrency {
    border: 2px solid goldenrod;
}

.pager {
    text-align: center;
    margin-top: 10px;
}

.pagerLinks {
    color: black;
    margin: 3px;
    padding: 5px;
}

.pagerLinks:checked {
    color: black;
}

.pagerLinks:hover {
    background-color: #66cdaa;
    color: black;
}

.pagerCurrentLink {
    background-color: #006699;
    color: white;
}

#mainLayoutButtonBackDiv {
    position: fixed;
    top: 40px;
    right: 5px;
}

#mainLayoutButtonBack {
    color: #b22222;
    border: 1px solid #b22222;
    font-weight: bold;
}

#mainLayoutButtonBack:hover {
    color: white;
    background-color: #b22222;
}

.tableTh {
    background-color: #006699;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: 2px solid #006699;
    border-right: 2px solid white;
    padding: 5px 0;
    width: 30px;
    text-align: center;
}

.tableThLast {
    border: 2px solid #006699;
}

.tableTd {
    text-align: center;
    border: 2px solid #006699;
    padding: 5px 0;
}

.tableOddRow {
    background-color: white;
}

.tableEvenRow {
    background-color: #e0e0d6;
}

.buttonStyle {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #111111;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.buttonStyle:hover {
  background-color: #126790;
  color: white;
}

.buttonStyle:disabled {
    background-color: #333333;
    color: white;
}

#buttonSignOut {
    color: darkblue;
    border: 1px solid darkblue;
    margin: 5px
}

#buttonSignOut:hover {
    color: white;
    background-color: darkblue;
    border: 1px solid white;
}

#hlUser {
    color: white;
    font-weight: bold;
}

#hlUser:hover {
    color: darkblue;
    border: 1px solid darkblue;
    background-color: white;
    font-weight: bold;
    vertical-align: middle;
}