#managementHeader {
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

#managementTable {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
    border: 2px solid #006699;
}

a[disabled] {
    color: grey;
    cursor: context-menu;
    pointer-events: none;
}

.managementEditInputs, .managementAddInputs {
    margin: 0 auto;
    width: 70%;
}

#managementSearchNoResult {
    text-align: center;
    font-size: larger;
    font-style: italic;
}