#registrationHeader {
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

#registrationContainer {
    text-align: center;
}

#registrationContainer > span {
    font-size: large;
    font-weight: bold;
}

#registrationContainer > span.validationMessage{
    font-size: medium;
}